<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SessionManagement2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HTTPLoginServlet</display-name>
    <servlet-name>HTTPLoginServlet</servlet-name>
    <servlet-class>HTTPLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTTPLoginServlet</servlet-name>
    <url-pattern>/HTTPLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HTTPProfileServlet</display-name>
    <servlet-name>HTTPProfileServlet</servlet-name>
    <servlet-class>HTTPProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTTPProfileServlet</servlet-name>
    <url-pattern>/HTTPProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HTTPLogoutServlet</display-name>
    <servlet-name>HTTPLogoutServlet</servlet-name>
    <servlet-class>HTTPLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTTPLogoutServlet</servlet-name>
    <url-pattern>/HTTPLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HiddenFormUserServlet</display-name>
    <servlet-name>HiddenFormUserServlet</servlet-name>
    <servlet-class>HiddenFormUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HiddenFormUserServlet</servlet-name>
    <url-pattern>/HiddenFormUserServlet</url-pattern>
  </servlet-mapping>
</web-app>